/*hw2 style sheet */


book_catalog{
	background-color:lightgray;
	width: 80%;
	display: block;
	margin: auto; /*use to horizontally center block element; requires width*/	
}

heading{
	font-size: 30px;
	text-align: center;
	background-color: silver;
	display:block;
}

computer_science{
	display: block;
	border: 1px solid silver;
	margin:	2px;
}

/*Selector matches every element that is the nth child of its parent.
In this case, matching every odd element within computer science block*/
computer_science:nth-of-type(odd) {
	background: lightblue;
}

title, author, publisher {
	display: block;
	text-align: center;
}


title {
	font-weight: bold;
	text-align: center;
	color: red;
}

