/*my css style sheet */


book_catalog{
	padding: 10px;
	background-color:lightgray;
	display:table;
}

computer_science {
	padding: 10px;
	display:block;
}

title, author, publisher {display: block;}

title {
	font-weight: bold;
	color: red;
}

author{
	
}

publisher{
	
}
