/*hw2 style sheet */


book_catalog{
	background-color:lightgray;
	width: 80%;
	display: block;
	margin: auto;	
}

heading{
	font-size: 30px;
	text-align: center;
	background-color: silver;
	display:block;
}

computer_science{
	display: block;
	border: 1px solid silver;
	margin:	2px;
}

title, author, publisher {
	display: block;
	text-align: center;
}


title {
	font-weight: bold;
	text-align: center;
	color: red;
}

