@namespace url(http://www.gov.org/west);
@namespace east url(http://www.gov.org/east;	
	
states{
	background_color: lightgray;
}

state, name, capital{
	background: ligthblue;
}

east|state, east|name, east|capital{
	background: silver;
}



