@namespace url(http://www.gov.org/west);
@namespace east url(http://www.gov.org/east;	

	
	
states{
	background_color: lightgray;
	width: 80%
	display: block;
	margin: auto;
}

state, name, capital{
	display: block;
	background: ligthblue;
}

east|state, east|name, east|capital{
	display: block;
	background: silver;
}



