@namespace url(http://www.gov.org/west);
@namespace east url(http://www.gov.org/east;	
	
states{
	background_color: lightgray;
	width = 80%;
	display: block;
	margin: auto;
}

state{
	display:block;
	background_color: lightgray;
	border: 1px solid silver;
}
	
	
name, capital{
	background: ligthblue;
	display: block;
}

east|state{
	background: silver;
	display: block;
	border:1px solid lightgray;
}
	
east|name, east|capital{
	background: silver;
	display: block;
}



